.bgHeader {
  background: linear-gradient(to bottom, #2dbdb8, #028391);
  min-height: 100px;
  max-height: 200px;
  padding: 2% 5% 3%;
}

.bgHeader h1 {
  margin-bottom: 0;
  margin-top: 0;
  color: #e8e6e6;
  font-size: xx-large;
  font-weight: bold;
  font-family: Impact, fantasy;
  text-shadow: 3px 5px 6px rgb(0, 0, 0);
}

.wellcome {
  animation: fadeOut 10s ease-out forwards infinite;
}

@keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.title {
  animation: slideIn 1s ease-out 0.5s forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .bgHeader {
    padding: 0px 5% 10px;
  }
  .bgHeader h1 {
    font-size: 70px;
  }
}
