.bgHeader {
  background: linear-gradient(to bottom, #882380, #000000);
  min-height: 100px;
  max-height: 200px;
  padding: 2% 5% 3%;
}

.bgHeader h1 {
  margin-bottom: 0;
  margin-top: 0;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.wellcome {
  animation: fadeOut 10s ease-out forwards infinite; 
}

@keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.title {
  animation: slideIn 1.5s ease-out 0.5s forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
}

@media screen and (min-width: 992px) {
  .bgHeader {
    padding: 0px 5% 10px;
  }
  .bgHeader h1 {
    font-size: 70px;
  }
}